<p id="notice"><%= notice %></p>

<p>
  <strong>R:</strong>
  <%= @a_color.r %>
</p>

<p>
  <strong>G:</strong>
  <%= @a_color.g %>
</p>

<p>
  <strong>B:</strong>
  <%= @a_color.b %>
</p>

<p>
  <strong>Image:</strong>
  <%= @a_color.make_a_color %>
</p>

<%= link_to 'Edit', edit_a_color_path(@a_color) %> |
<%= link_to 'Back', a_colors_path %>
